html, body {
    height: 100%;
    display: grid;
    place-items: center;
}

#grid-container {
    background-color: burlywood;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 500px;
}

.grid-item {
    border: 1px solid #858484;
}
