html, body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgb(133, 133, 133);
}

#main-container {
    width: 70%;
    height: 600px;
    background-color: rgb(133, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

#grid-container {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 500px;
}

.grid-item {
    border: 1px solid #858484;
}

#slider {
    width: 50%;
    padding: 10px;
}

.slider-text {
    font-size: 20px;
    padding-top: 10px;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.color-picker-text {
    font-size: 18px;
}

button {
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
    border: 1px solid white;
}

button:hover {
    background-color: #565e69;
    color: white;
    border: 1px solid white;
}