html, body {
    height: 100%;
    display: grid;
    place-items: center;
}

#grid-container {
    width: 500px;
    height: 500px;
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

